<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {csrf_meta_tag()}
    <.live_title>
      {assigns[:page_title] || "Ash Framework"}
    </.live_title>
    <%= if Application.get_env(:ash_hq, :analytics?) do %>
      <script
        defer
        data-domain="ash-hq.org"
        src="https://plausible.io/js/script.outbound-links.tagged-events.js"
      >
      </script>
      <script>
        window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }
      </script>
    <% end %>

    <script>
      window.CustomSubstackWidget = {
        substackUrl: "ashweekly.substack.com",
        placeholder: "elixir-dev@gmail.com",
        buttonText: "Ash Weekly",
        theme: "custom",
        colors: {
          primary: "#DC5400",
          input: "#00000050",
          email: "#FFFFFF",
          text: "#FFFFFF",
        },
      };
    </script>
    <script src="https://substackapi.com/widget.js" async>
    </script>

    <meta property="og:type" content="text/html" />
    <meta property="og:image" content="https://ash-hq.org/images/ash-logo-side.png" />
    <meta property="og:site_name" content="Ash HQ" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="ash-hq.org" />
    <meta property="twitter:site" content="@AshFramework" />
    <!-- Need to adjust this for future blog writers -->
    <meta property="twitter:creator" content="@ZachSDaniel1" />

    <meta property="og:title" content="Ash Framework" />
    <meta property="og:description" content="Model your domain, derive the rest." />
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")} />
    <script async defer src="https://buttons.github.io/buttons.js">
    </script>
    <script src="https://buttons.github.io/buttons.js">
    </script>
  </head>
  <body class="bg-slate-950 text-white min-h-screen dark">
    {@inner_content}
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={Routes.static_path(@conn, "/assets/app.js")}
    >
    </script>
  </body>
</html>
