<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <.live_title>
      <%= assigns[:page_title] || "Ash Framework" %>
    </.live_title>
    <%= if Application.get_env(:ash_hq, :analytics?) do %>
      <script defer data-domain="ash-hq.org" src="https://plausible.io/js/plausible.js"></script>
    <% end %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
  </head>
  <body class="bg-slate-950 text-white min-h-screen">
    <%= @inner_content %>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </body>
</html>
