<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "AshHq" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/assets/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/assets/app.js") %>"></script>
  </head>
  <body class="flex flex-col h-full bg-base-light-700">
    <header>
      <nav class="flex flex-wrap items-center justify-between py-2 px-4 fixed top-0 right-0 left-0 z-30 bg-base-light-700">
        <a class="inline-block mr-4 py-1 text-xl text-base-light-300" href="#"><i class="fas fa-bolt"></i> AshHq</a>
      </nav>
    </header>

    <main role="main" class="container mx-auto mb-8 px-4 max-w-6xl">
      <div class="flex justify-center p-2">
        <div class="card w-full max-w-xs">
          <div class="card-body">
            <%= @inner_content %>
          </div>
        </div>
      </div>
    </main>

  </body>
</html>
