.dark .inline {
  background-color: #404040;
  border-radius: 0.1rem;
}

.dark .highlight pre {
  background-color: #404040
}

.dark .highlight .hll {
  background-color: #404040
}

.dark .highlight .c {
  color: #999999;
  font-style: italic
}

/* Comment */
/* .dark .highlight .err {
  color: #a61717;
  background-color: #e3d2d2
} */

/* Error */
.dark .highlight .g {
  color: #d0d0d0
}

/* Generic */
.dark .highlight .k {
  color: #6ab825;
  font-weight: bold
}

/* Keyword */
.dark .highlight .l {
  color: #d0d0d0
}

/* Literal */
.dark .highlight .n {
  color: #d0d0d0
}

/* Name */
.dark .highlight .o {
  color: #d0d0d0
}

/* Operator */
.dark .highlight .x {
  color: #d0d0d0
}

/* Other */
.dark .highlight .p {
  color: #d0d0d0
}

/* Punctuation */
.dark .highlight .cm {
  color: #999999;
  font-style: italic
}

/* Comment.Multiline */
.dark .highlight .cp {
  color: #cd2828;
  font-weight: bold
}

/* Comment.Preproc */
.dark .highlight .c1 {
  color: #999999;
  font-style: italic
}

/* Comment.Single */
.dark .highlight .cs {
  color: #e50808;
  font-weight: bold;
  background-color: #520000
}

/* Comment.Special */
.dark .highlight .gd {
  color: #d22323
}

/* Generic.Deleted */
.dark .highlight .ge {
  color: #d0d0d0;
  font-style: italic
}

/* Generic.Emph */
.dark .highlight .gr {
  color: #d22323
}

/* Generic.Error */
.dark .highlight .gh {
  color: #ffffff;
  font-weight: bold
}

/* Generic.Heading */
.dark .highlight .gi {
  color: #589819
}

/* Generic.Inserted */
.dark .highlight .go {
  color: #cccccc
}

/* Generic.Output */
.dark .highlight .gp {
  color: #aaaaaa
}

/* Generic.Prompt */
.dark .highlight .gs {
  color: #d0d0d0;
  font-weight: bold
}

/* Generic.Strong */
.dark .highlight .gu {
  color: #ffffff;
  text-decoration: underline
}

/* Generic.Subheading */
.dark .highlight .gt {
  color: #d22323
}

/* Generic.Traceback */
.dark .highlight .kc {
  color: #6ab825;
  font-weight: bold
}

/* Keyword.Constant */
.dark .highlight .kd {
  color: #6ab825;
  font-weight: bold
}

/* Keyword.Declaration */
.dark .highlight .kn {
  color: #6ab825;
  font-weight: bold
}

/* Keyword.Namespace */
.dark .highlight .kp {
  color: #6ab825
}

/* Keyword.Pseudo */
.dark .highlight .kr {
  color: #6ab825;
  font-weight: bold
}

/* Keyword.Reserved */
.dark .highlight .kt {
  color: #6ab825;
  font-weight: bold
}

/* Keyword.Type */
.dark .highlight .ld {
  color: #d0d0d0
}

/* Literal.Date */
.dark .highlight .m {
  color: #3677a9
}

/* Literal.Number */
.dark .highlight .s {
  color: #ed9d13
}

/* Literal.String */
.dark .highlight .na {
  color: #bbbbbb
}

/* Name.Attribute */
.dark .highlight .nb {
  color: #24909d
}

/* Name.Builtin */
.dark .highlight .nc {
  color: #447fcf;
}

/* Name.Class */
.dark .highlight .no {
  color: #40ffff
}

/* Name.Constant */
.dark .highlight .nd {
  color: #ffa500
}

/* Name.Decorator */
.dark .highlight .ni {
  color: #d0d0d0
}

/* Name.Entity */
.dark .highlight .ne {
  color: #bbbbbb
}

/* Name.Exception */
.dark .highlight .nf {
  color: #447fcf
}

/* Name.Function */
.dark .highlight .nl {
  color: #d0d0d0
}

/* Name.Label */
.dark .highlight .nn {
  color: #447fcf;
}

/* Name.Namespace */
.dark .highlight .nx {
  color: #d0d0d0
}

/* Name.Other */
.dark .highlight .py {
  color: #d0d0d0
}

/* Name.Property */
.dark .highlight .nt {
  color: #6ab825;
  font-weight: bold
}

/* Name.Tag */
.dark .highlight .nv {
  color: #40ffff
}

/* Name.Variable */
.dark .highlight .ow {
  color: #6ab825;
  font-weight: bold
}

/* Operator.Word */
.dark .highlight .w {
  color: #666666
}

/* Text.Whitespace */
.dark .highlight .mf {
  color: #3677a9
}

/* Literal.Number.Float */
.dark .highlight .mh {
  color: #3677a9
}

/* Literal.Number.Hex */
.dark .highlight .mi {
  color: #3677a9
}

/* Literal.Number.Integer */
.dark .highlight .mo {
  color: #3677a9
}

/* Literal.Number.Oct */
.dark .highlight .sb {
  color: #ed9d13
}

/* Literal.String.Backtick */
.dark .highlight .sc {
  color: #ed9d13
}

/* Literal.String.Char */
.dark .highlight .sd {
  color: #ed9d13
}

/* Literal.String.Doc */
.dark .highlight .s2 {
  color: #ed9d13
}

/* Literal.String.Double */
.dark .highlight .se {
  color: #ed9d13
}

/* Literal.String.Escape */
.dark .highlight .sh {
  color: #ed9d13
}

/* Literal.String.Heredoc */
.dark .highlight .si {
  color: #ed9d13
}

/* Literal.String.Interpol */
.dark .highlight .sx {
  color: #ffa500
}

/* Literal.String.Other */
.dark .highlight .sr {
  color: #ed9d13
}

/* Literal.String.Regex */
.dark .highlight .s1 {
  color: #ed9d13
}

/* Literal.String.Single */
.dark .highlight .ss {
  color: #ed9d13
}

/* Literal.String.Symbol */
.dark .highlight .bp {
  color: #24909d
}

/* Name.Builtin.Pseudo */
.dark .highlight .vc {
  color: #40ffff
}

/* Name.Variable.Class */
.dark .highlight .vg {
  color: #40ffff
}

/* Name.Variable.Global */
.dark .highlight .vi {
  color: #40ffff
}

/* Name.Variable.Instance */
.dark .highlight .il {
  color: #3677a9
}

.light .code-pre {
  background-color: #d2d2d2
}

.light .inline {
  background-color: #d2d2d2;
  border-radius: 0.1rem;
}

.light .highlight .hll { background-color: #ffffcc }
.light .highlight .c { color: #000000; font-style: italic } /* Comment */
.light .highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.light .highlight .k { color: #000000; font-weight: bold } /* Keyword */
.light .highlight .o { color: #000000; font-weight: bold } /* Operator */
.light .highlight .cm { color: #000000; font-style: italic } /* Comment.Multiline */
.light .highlight .cp { color: #000000; font-weight: bold; font-style: italic } /* Comment.Preproc */
.light .highlight .c1 { color: #000000; font-style: italic } /* Comment.Single */
.light .highlight .cs { color: #000000; font-weight: bold; font-style: italic } /* Comment.Special */
.light .highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.light .highlight .ge { color: #000000; font-style: italic } /* Generic.Emph */
.light .highlight .gr { color: #aa0000 } /* Generic.Error */
.light .highlight .gh { color: #000000 } /* Generic.Heading */
.light .highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.light .highlight .go { color: #000000 } /* Generic.Output */
.light .highlight .gp { color: #000000 } /* Generic.Prompt */
.light .highlight .gs { font-weight: bold } /* Generic.Strong */
.light .highlight .gu { color: #000000 } /* Generic.Subheading */
.light .highlight .p { color: #000000 } /* Generic.Subheading */
.light .highlight .gt { color: #aa0000 } /* Generic.Traceback */
.light .highlight .kc { color: #000000; font-weight: bold } /* Keyword.Constant */
.light .highlight .kd { color: #000000; font-weight: bold } /* Keyword.Declaration */
.light .highlight .kn { color: #000000; font-weight: bold } /* Keyword.Namespace */
.light .highlight .kp { color: #000000; font-weight: bold } /* Keyword.Pseudo */
.light .highlight .kr { color: #000000; font-weight: bold } /* Keyword.Reserved */
.light .highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.light .highlight .m { color: #009999 } /* Literal.Number */
.light .highlight .s { color: #d01040 } /* Literal.String */
.light .highlight .n { color: #000000 } /* Name.Attribute */
.light .highlight .na { color: #008080 } /* Name.Attribute */
.light .highlight .nb { color: #0086B3 } /* Name.Builtin */
.light .highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.light .highlight .no { color: #008080 } /* Name.Constant */
.light .highlight .nd { color: #3c5d5d; font-weight: bold } /* Name.Decorator */
.light .highlight .ni { color: #800080 } /* Name.Entity */
.light .highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.light .highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.light .highlight .nl { color: #990000; font-weight: bold } /* Name.Label */
.light .highlight .nn { color: #555555 } /* Name.Namespace */
.light .highlight .nt { color: #000080 } /* Name.Tag */
.light .highlight .nv { color: #008080 } /* Name.Variable */
.light .highlight .ow { color: #000000; font-weight: bold } /* Operator.Word */
.light .highlight .w { color: #000000 } /* Text.Whitespace */
.light .highlight .mf { color: #009999 } /* Literal.Number.Float */
.light .highlight .mh { color: #009999 } /* Literal.Number.Hex */
.light .highlight .mi { color: #009999 } /* Literal.Number.Integer */
.light .highlight .mo { color: #009999 } /* Literal.Number.Oct */
.light .highlight .sb { color: #d01040 } /* Literal.String.Backtick */
.light .highlight .sc { color: #d01040 } /* Literal.String.Char */
.light .highlight .sd { color: #d01040 } /* Literal.String.Doc */
.light .highlight .s2 { color: #d01040 } /* Literal.String.Double */
.light .highlight .se { color: #d01040 } /* Literal.String.Escape */
.light .highlight .sh { color: #d01040 } /* Literal.String.Heredoc */
.light .highlight .si { color: #d01040 } /* Literal.String.Interpol */
.light .highlight .sx { color: #d01040 } /* Literal.String.Other */
.light .highlight .sr { color: #009926 } /* Literal.String.Regex */
.light .highlight .s1 { color: #d01040 } /* Literal.String.Single */
.light .highlight .ss { color: #990073 } /* Literal.String.Symbol */
.light .highlight .bp { color: #000000 } /* Name.Builtin.Pseudo */
.light .highlight .vc { color: #008080 } /* Name.Variable.Class */
.light .highlight .vg { color: #008080 } /* Name.Variable.Global */
.light .highlight .vi { color: #008080 } /* Name.Variable.Instance */
.light .highlight .il { color: #009999 } /* Literal.Number.Integer.Long */