{% extends "base.html" %}

{% block content %}
  {%- set rss %}
    <a class="quiet-link" href="{{ get_url(path='atom.xml', trailing_slash=false) }}">{{ <ui.icon name="rss" /> }} RSS</a>
  {%- endset %}
  {% <ui.section title={section.title} description={section.description} size="lg" heading="h1" actions={rss}> %}
    {#- Posts newer than this, at build time, are marked New. The site rebuilds regularly, so the
        badge drops off by itself. #}
    {%- set new_since = now(timestamp=true) - config.extra.new_post_days * 86400 %}

    <ul class="list-rows">
      {%- for page in section.pages %}
        {%- set lead = <ui.date_badge date={page.date} /> %}
        {%- set arrow = <ui.icon name="arrow-right" /> %}
        {% <ui.list_row title={page.title} href={page.permalink} heading="h2" lead={lead} lead_width="72px" text={page.description} action={arrow} hide_action_mobile={true}> %}
          <span class="blog-list__author">
            {{ <ui.author_avatars authors={page.authors} /> }}
            {{ page.authors | join(sep=", ") }}
          </span>
          {%- if page.date | date(format="%s") | int > new_since %}{{ <ui.badge text="New" tone="accent" /> }}{% endif %}
          {%- for tag in page.taxonomies.tags | default(value=[]) %}{{ <ui.badge text={tag} /> }}{% endfor %}
        {% </ui.list_row> %}
      {%- endfor %}
    </ul>
  {% </ui.section> %}
{% endblock %}
