{#
  A person: avatar, name and GitHub handle, linking to their GitHub profile. Each is an <li> in a
  <ul class="people grid">.

    {{ <ui.person name="Rebecca Le" github="sevenseacat" /> }}
#}
{% component ui.person(name: string, github: string) %}
  <li class="person">
    {{ <ui.avatar name={name} github={github} size={44} decorative={true} /> }}
    <span class="person__text">
      <a class="person__name stretched-link" href="https://github.com/{{ github }}">{{ name }}</a>
      <span class="person__handle">@{{ github }}</span>
    </span>
  </li>
{%- endcomponent ui.person %}
